.element {
    /* position: absolute;
    top: 5px;
    right: 5px; */
    padding: 30px;
    transition: 0.4s;
    animation: rotate 3s infinite;
    animation-play-state: paused;
  }
.element:hover {
    transform:scale(1.2, 1.2);
    animation-play-state: running;;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}