.question-box {
  border: 5px solid whitesmoke;
  padding: 200px 275px 200px 275px;
  margin: 40px 20px 20px 20px;
}

.question-button {
  border: 1px solid whitesmoke;
  border-radius: 1px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 20px;
  transition: .2s;
  }
.question-button:hover {
  border-color: #2eb82e;
  color: #70db70;
  transform: scale(1.1, 1.1);
}

.question-cs-box {
  border: 5px solid whitesmoke;
  padding: 200px 275px 200px 275px;
  margin: 40px 20px 20px 20px;
  text-align: left;
}

.markdown-enlarger {
  font-size: 20px;
}

.congrats {
  color:white;
  animation-name: rainbow;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  0%   {border-color: white;
        color: white;}
  10%   {border-color:red;
        color: red;}
  20%  {border-color: orange;
        color: orange;}
  30%  {border-color:yellow;
        color: yellow;}
  40%  {border-color:green;
        color: green;}
  60%  {border-color:blue;
        color:blue;}
  80%  {border-color:purple;
        color:purple;}
  90%  {border-color:violet;
        color:violet;}
}

.congrats-button {
  border: 2px solid whitesmoke;
  color: white;
  border-radius: 1px;
  width:275px;
  height:65px;
  margin: 5px;
  font-size: 19px;
  font-weight: 650;
  transition: 0.4s;
}
.congrats-button:hover {
  border-color: #6699ff;
  color: #99bbff;
  transform:scale(1.09,1.09);
}